button {
	cursor: pointer;
	display: inline-block;
	background: CornflowerBlue;
	font-size: 18px;
	border: 0;
	padding: 1rem 1.5rem;
	margin-left: auto;
 	margin-right: auto;
 	display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form{ 
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   font-size: 20px;
   box-sizing: border-box;
   text-align: center;
 }
 .title{

 	background:linear-gradient(to right, white 35%, DarkBlue 35% 65%,white 65%);
 	border: none;
 	font-size: 20px;
  	color: white;
  	padding: 16px 32px;
  	text-decoration: none;
  	margin: 4px 2px;

 }
 input[type=submit]{
 	background-color:DarkBlue;
 	border: none;
 	font-size: 20px;
  	color: white;
  	padding: 16px 32px;
  	text-decoration: none;
  	margin: 4px 2px;
  	cursor: pointer;
 }
 input[type=text],[type=password]{
  	padding: 8px 16px;
  	text-decoration: none;
  	margin: 4px 2px;
  	cursor: pointer;
  	font-size: 20px;
  	border: 3px solid #555;
 }
 label{
 	border: none;
 	font-size: 20px;
  	color: black;
  	text-decoration: none;
  	margin: 4px 2px;

 }